/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body{
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: #555;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
a{
	text-decoration: none;
	color: #1783bb;
}

h2{
	font-size: 2em;
	color: rgb(111,127,122);
}

header h1{
	font-family: "Baskerville", serif;
	font-size: 5em;
	color: rgb(152,173,166);
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin: 0 0 5px;
}

header a{
	color: rgb(152,173,166);
	text-decoration: none;
}

img{
	border: 5px solid rgb(152,173,166);
}

#press{
	margin-bottom: 20px;
}

#press img{
	border: 5px solid #ccc;
	padding: 1px;
}

#press img:hover{
	border: 5px solid rgb(111,127,122);
	-webkit-transition: border 1s ease-out;
	-moz-transition: border 1s ease-out;
	-o-transition: border 1s ease-out;
	transition: border 1s ease-out;
}

footer{
	text-align: right;
}

footer .small{
	font-size: 0.8em;
}

p{
	margin: 0 0 20px 0;
}
